<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ author_name }} の作品</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <a href="{{ url_for('index') }}" class="back-link">戻る</a> 
        <div class="social-links">
            {% if instagram_url %}
                <a href="{{ instagram_url }}" target="_blank" class="instagram-link">
                    <img src="{{ url_for('static', filename='images/header_Instagram.png') }}" width="50" alt="{{ author_name }} の Instagram">
                </a>
            {% endif %}
            {% if twitter_url %}
                <a href="{{ twitter_url }}" target="_blank" class="twitter-link">
                    <img src="{{ url_for('static', filename='images/header_x-logo-black.png') }}" width="50" alt="{{ author_name }} の X(旧Twitter)">
                </a>
            {% endif %}
        </div>
      </div>
    </header>
    <h1>{{ author_name }} の作品</h1>

    <ul>
      {% for work in works %}
      <li>
        <img
          src="{{ url_for('static', filename=work.image) }}"
          alt="{{ work.title }}"
          width="200"
        />
        <a
          href="{{ url_for('work', author_name=author_name, work_index=loop.index0) }}"
        >
          {{ work.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
