<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ author['name'] }} の作品</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <header>
    <div class="author-info">
      {% if author.instagram_url %}
      <a
        href="{{ author.instagram_url }}"
        target="_blank"
        class="instagram-link"
        aria-label="{{ author_name }}さんのInstagram"
      >
        <img
          src="{{ url_for('static', filename='images/header_Instagram.png') }}"
          width="50"
          alt="{{ author_name }}さんのInstagram"
        />
      </a>
      {% endif %} {% if author.twitter_url %}
      <a
        href="{{ author.twitter_url }}"
        target="_blank"
        class="twitter-link"
        aria-label="{{ author_name }}さんのTwitter"
      >
        <img
          src="{{ url_for('static', filename='images/header_x-logo-black.png') }}"
          width="50"
          alt="{{ author_name }}さんのTwitter"
        />
      </a>
      {% endif %}
    </div>
    <a class="emphasized-link" href="{{ url_for('index') }}">ホームに戻る</a>
  </header>
  <body>
    <h1>{{ author['name'] }} の作品</h1>

    <section class="works">
      <!-- 作品リスト全体を section で囲む -->
      {% for work in works %}
      <figure class="work-item">
        <!-- 各作品を figure で囲む -->
        <a
          href="{{ url_for('work_by_name_and_id', author_name=author.name, work_id=work.id) }}"
        >
          <img
            src="{{ url_for('static', filename=work.image) }}"
            alt="{{ work.title }} - {{ author.name }}の作品"
            width="200"
          />
        </a>
        <figcaption>
          <a
            class="emphasized-link"
            href="{{ url_for('work_by_name_and_id', author_name=author.name, work_id=work.id) }}"
            aria-label="{{ work.title }}の詳細"
          >
            {{ work.title }}
          </a>
        </figcaption>
      </figure>
      {% endfor %}
    </section>
  </body>
</html>
