<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>作品一覧</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="social-links">
        <a
          href="https://univ.osaka-seikei.jp/"
          target="_blank"
          class="instagram-link"
        >
          <img
            src="{{ url_for('static', filename='images/header_univ-logo.png') }}"
            alt="大阪成蹊大学美術写真部Instagram"
          />
        </a>
        <a
          href="https://www.instagram.com/osg_club_art.photo?igsh=YmljdWN0cW8zemh2&utm_source=qr"
          target="_blank"
          class="instagram-link"
        >
          <img
            src="{{ url_for('static', filename='images/header_Instagram.png') }}"
            width="50"
            alt="大阪成蹊大学美術写真部Instagram"
          />
        </a>
      </div>
    </header>

    <img src="{{ url_for('static', filename='images/dm.jpg') }}" alt="dm" />
    <img
      src="{{ url_for('static', filename='images/map.png') }}"
      alt="マップ"
    />

    <main>
      <nav>
        <a class="link-button" href="{{ url_for('how_to_use') }}"
          >使い方ページ</a
        >
        <a
          class="link-button send-message-button"
          href="https://forms.gle/Msppvif1DCoguGmC8"
          target="_blank"
          >お便りを送る</a
        >

        <div class="author_list">
          <h1>作者名</h1>
          <main>
            <section class="works">
              {% for work in works %}
              <figure class="work-item">
                <a
                  href="{{ url_for('work_by_name_and_id', author_name=author.name, work_id=work.id) }}"
                >
                  <img
                    src="{{ url_for('static', filename=work.image) }}"
                    alt="{{ work.title }} - {{ author.name }}の作品"
                    style="max-width: auto; height: 100%;" 
                  />
                </a>
                <figcaption>
                  <a
                    class="emphasized-link"
                    href="{{ url_for('work_by_name_and_id', author_name=author.name, work_id=work.id) }}"
                    aria-label="{{ work.title }}の詳細"
                  >
                    {{ work.title }}
                  </a>
                </figcaption>
              </figure>
              {% endfor %}
            </section>
          </main>
        </div>
        <!-- author_list divを閉じる -->
      </nav>
    </main>

    <footer>
      <!-- フッターの内容 -->
      <div class="footer-top">
        <a
          href="https://univ.osaka-seikei.jp/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='images/header_univ-logo.png') }}"
            alt="大学名ロゴ"
            class="university-logo"
          />
        </a>
        <a
          href="https://www.instagram.com/osg_club_art.photo?igsh=YmljdWN0cW8zemh2&utm_source=qr"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='images/header_Instagram.png') }}"
            alt="Instagram"
            class="instagram-icon"
          />
        </a>
      </div>
      <div class="footer-links">
        <a href="{{ url_for('how_to_use') }}" class="button">使い方ページ</a>
        <a
          href="https://forms.gle/Msppvif1DCoguGmC8"
          target="_blank"
          rel="noopener noreferrer"
          class="button"
          >お便りを送る</a
        >
      </div>
      <div class="copyright">
        <p>© 2025 大阪成蹊大学美術・写真部</p>
      </div>
    </footer>
  </body>
</html>
