<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ work.title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h2>{{ work.title }}</h2>
    <img
      src="{{ url_for('static', filename=work.image) }}"
      alt="{{ work.title }}"
      width="400"
    />
    <p>{{ work.caption }}</p>

    <a
      class="emphasized-link"
      href="{{ url_for('author', author_name=author_name) }}"
      >作家のページに戻る</a
    >
    <a class="emphasized-link" href="{{ url_for('index') }}">ホームに戻る</a>
  </body>
</html>
